body {
    background-color: bisque;
    font-family: Helvetica, sans-serif;
    color: rgb(73, 26, 26); 
}

h1, h3 {
    text-align: center;
}

.description {
    text-align: center;
}

img {
   height: auto;
   width: 400px; 
   display: block;
   margin-left: auto;
   margin-right: auto;
}

hr {
    background-color: rgb(73, 26, 26); height: 1px; border: 0;
}

button {
    background-color: rgb(73, 26, 26);
    display: block;
    margin: 0 auto;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: bisque;
}